.notizia {

    $color-background: var( --color-text, #fff );
    $color-box-shadow-start: var( --color-box-shadow-start, #fff );
    $color-box-shadow-end: var( --color-box-shadow-end, #242529 );

    $thickness: 16px;
    $prefix: &;
    $transition: all var( --duration, .5s ) var( --timing, ease );

    position: relative;
    margin: 16px 0;
    padding: 16px;
    overflow: hidden;
    text-align: justify;
    border-radius: $thickness;
    box-shadow: ( - $thickness ) ( - $thickness ) ( $thickness * 2 ) 0 $color-box-shadow-start, $thickness $thickness ( $thickness * 2 ) 0 $color-box-shadow-end;
    transition: var( --transition, $transition );

    &__header,
    &__footer,
    &__content {

        position: relative;
        z-index: 1;
        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0;

    }

    &__img {

        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: block;

        img {

            width: 100%;
            height: auto;

        }

        &__container {

            position: relative;
            top: 0;
            right: 0;
            left: 0;
            z-index: 0;
            margin: -16px -16px 0;
            padding-top: 56.25%;
            overflow: hidden;
            font-size: 0;
            text-align: center;

            &--loading {

                &::after {

                    position: absolute;
                    top: calc( 50% - 12px );
                    right: 0;
                    bottom: 0;
                    left: calc( 50% - 12px );
                    z-index: 1;
                    display: block;
                    width: 24px;
                    height: 24px;
                    background-color: $color-background;
                    border-radius: 50%;
                    animation: rotate 2.4s cubic-bezier( 0, .2, .8, 1 ) infinite;
                    content: "";
                    mix-blend-mode: difference;

                }

            }

        }

    }

    &__title {

        font-weight: bold;
        font-size: 1.18rem;

    }

    &__badge {

        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 8px;
        vertical-align: middle;
        background-color: $color-background;
        border-radius: 50%;

        &--type {

            &-highlight {

                background-color: #27ae60;

            }

            &-top {

                background-color: #2980b9;

            }

        }

    }

    &__content {

        flex-direction: column;

    }

    &__footer {

        border-top: 1px solid $color-background;

    }


}

@keyframes rotate {

    0%,
    100% {

        animation-timing-function: cubic-bezier( .5, 0, 1, .5 );

    }

    0% {

        transform: rotateY( 0deg );

    }
    50% {

        transform: rotateY( 1800deg );
        animation-timing-function: cubic-bezier( 0, .5, .5, 1 );

    }

    100% {

        transform: rotateY( 3600deg );

    }

}
