.countdown {

    $color-box-shadow-start: var( --color-box-shadow-start, #fff );
    $color-box-shadow-end: var( --color-box-shadow-end, rgba( 174, 174, 192, .4 ) );
    $color-background: var( --color-background, rgba( #333, .4 ) );

    $progress-thickness: 16px;
    $prefix: &;
    $transition: all var( --duration, .5s ) var( --timing, ease );

    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    &__header {

        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2px;
        text-transform: uppercase;

    }

    &__outer {

        position: relative;
        transition: var( --transition, $transition );

    }

    &__progress {

        position: absolute;
        top: - $progress-thickness;
        right: - $progress-thickness;
        bottom: - $progress-thickness;
        left: - $progress-thickness;
        z-index: -1;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: ( - $progress-thickness ) ( - $progress-thickness ) ( $progress-thickness * 2 ) 0 $color-box-shadow-start, $progress-thickness $progress-thickness ( $progress-thickness * 2 ) 0 $color-box-shadow-end;
        transition: var( --transition, $transition );

        svg {

            margin: -6px;
            transition: var( --transition, $transition );
            fill: $color-background;
            stroke: $color-box-shadow-start;
            stroke-width: $progress-thickness / 4;
            stroke-dashoffset: 0;

        }

    }

    &__time {

        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
        width: 100%;

        &__slot {

            display: flex;
            flex: 1 1 100%;
            flex-direction: column;
            width: 100%;

            span {

                display: inline-block;

            }

            > .number {

                font-size: 48px;
                line-height: 57px;

            }

            > .label {

                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                text-transform: lowercase;

            }

        }

    }

    &--type {

        &-neomorphism {

            #{$prefix}__outer {

                display: flex;
                flex: 1 1 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                min-width: 375px;
                min-height: 375px;
                margin: 0 auto;
                border-radius: 999999px;
                box-shadow: ( - $progress-thickness ) ( - $progress-thickness ) ( $progress-thickness * 2 ) 0 $color-box-shadow-start, $progress-thickness $progress-thickness ( $progress-thickness * 2 ) 0 $color-box-shadow-end;

            }

            #{$prefix}__time {

                &__slot {

                    > .number {

                        font-size: 120px;
                        line-height: 144px;

                    }

                }

            }

        }

    }

}
