.countdown {

    $color-box-shadow-start: var( --color-box-shadow-start, #fff );
    $color-box-shadow-end: var( --color-box-shadow-end, #242529 );
    $color-background: var( --color-text, #242529 );

    $progress-thickness: 16px;
    $prefix: &;
    $transition: all var( --duration, .5s ) var( --timing, ease );

    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    &__header {

        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2px;
        text-transform: uppercase;

    }

    &__outer {

        position: relative;
        transition: var( --transition, $transition );

    }

    &__progress {

        position: absolute;
        top: - $progress-thickness;
        right: - $progress-thickness;
        bottom: - $progress-thickness;
        left: - $progress-thickness;
        z-index: -1;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: ( - $progress-thickness ) ( - $progress-thickness ) ( $progress-thickness * 2 ) 0 $color-box-shadow-start, $progress-thickness $progress-thickness ( $progress-thickness * 2 ) 0 $color-box-shadow-end;
        transition: var( --transition, $transition );

        svg {

            margin: -2px;
            transition: var( --transition, $transition );
            fill: transparent;
            fill-opacity: 0;
            stroke: $color-box-shadow-start;
            stroke-width: $progress-thickness / 4;
            stroke-dashoffset: 0;

            @media screen and ( min-width: 720px ) {

                margin: -6px;

            }

        }

    }

    &__time {

        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
        width: 100%;

        &__slot {

            display: flex;
            flex: 1 1 100%;
            flex-direction: column;
            width: 100%;

            span {

                display: inline-block;

            }

            > .number {

                font-size: 30px;
                line-height: 40px;

                @media screen and ( min-width: 720px ) {

                    font-size: 48px;
                    line-height: 57px;

                }

            }

            > .label {

                font-weight: 400;
                font-size: 11px;
                line-height: 15px;
                text-transform: lowercase;

                @media screen and ( min-width: 720px ) {

                    font-size: 16px;
                    line-height: 19px;

                }

            }

        }

    }

    &__footer {

        position: absolute;
        bottom: 5%;
        left: 0;
        width: 100%;
        font-weight: lighter;

        @media screen and ( min-width: 380px ) {

            bottom: 15%;

        }

    }

    &--type {

        &-neomorphism {

            #{$prefix}__outer {

                display: flex;
                flex: 1 1 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                min-width: 250px;
                min-height: 250px;
                margin: 0 auto;
                border-radius: 9999px;
                box-shadow: ( - $progress-thickness ) ( - $progress-thickness ) ( $progress-thickness * 2 ) 0 $color-box-shadow-start, $progress-thickness $progress-thickness ( $progress-thickness * 2 ) 0 $color-box-shadow-end;

                @media screen and ( min-width: 380px ) {

                    min-width: 300px;
                    min-height: 300px;

                }
                @media screen and ( min-width: 720px ) {

                    min-width: 380px;
                    min-height: 380px;

                }

            }

            #{$prefix}__time {

                &__slot {

                    > .number {

                        font-size: 120px;
                        line-height: 144px;

                    }

                }

            }

        }

    }

}
