.country-item {

    $color-box-shadow-start: var( --color-box-shadow-start, #fff );
    $color-box-shadow-end: var( --color-box-shadow-end, #242529 );

    $thickness: 16px;
    $prefix: &;
    $transition: all var( --duration, .5s ) var( --timing, ease );

    margin: 16px 0;
    padding: 8px 24px;
    overflow: hidden;
    text-align: left;
    border-radius: 16px;
    box-shadow: ( - $thickness ) ( - $thickness ) ( $thickness * 2 ) 0 $color-box-shadow-start, $thickness $thickness ( $thickness * 2 ) 0 $color-box-shadow-end;
    transition: var( --transition, $transition );

    &__header,
    &__footer,
    &__meta {

        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
        align-items: center;
        padding: 12px 0;

    }

    &__header {

        &__flag + &__title {

            margin-left: 16px;

        }

        &__title {

            flex: 1;
            line-height: 1;

        }

        &__updated {

            display: none;
            visibility: hidden;
            opacity: 0;

            @media screen and ( min-width: 600px ) {

                display: inline-block;

            }

        }

    }

    &__meta {

        flex-direction: column;

        @media screen and ( min-width: 600px ) {

            flex-direction: row;

        }

        &__col {

            display: flex;
            flex: 1 1 100%;
            flex-direction: row;
            width: 100%;

            @media screen and ( min-width: 600px ) {

                flex-basis: 1 1 33%;
                flex-direction: column;
                width: 33%;

            }

            > * {

                margin: 8px 0;

            }

            > h6 {

                font-weight: bold;

            }

            > p {

                padding: 0 8px;

                @media screen and ( min-width: 600px ) {

                    padding: 0;

                }

            }

        }

    }

    &__badge {

        padding: 3px;
        color: #fff;
        font-size: .69rem;
        border-radius: 6px;

    }

    &__footer {

        justify-content: space-between;

    }

    &--text {

        &-good {

            color: #e74c3c;

        }

        &-bad {

            color: #27ae60;

        }

    }
    &--bg {

        &-good {

            background-color: #27ae60;

        }

        &-bad {

            background-color: #e74c3c;

        }

    }

}
