// Light
$color-primary: #88889b;
$color-text: #aeaec0;
$color-background: #f0f0f3;

$color-box-shadow-start: #fff;
$color-box-shadow-end: rgba( #aeaec0, .36 );

// Dark
$color-dark-primary: #151518;
$color-dark-text: #f0f0f3;
$color-dark-background: #242529;

$color-dark-box-shadow-start: #151518;
$color-dark-box-shadow-end: rgba( #242529, 1 );
