.layout {

    display: flex;
    flex: 1 1 100%;
    flex-direction: column;

    main {

        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
        width: 100%;
        text-align: center;

        > .page {

            padding: 16px;

        }

    }

    header,
    footer {

        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        padding: 16px;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: .2px;
        white-space: nowrap;

        @media screen and ( min-width: 720px ) {

            padding: 48px;

            > p {

                min-width: 233px;

                &:first-child {

                    text-align: left;

                }

                &:last-child {

                    text-align: right;

                }

            }

        }

    }

    @media screen and ( min-width: 500px ) {

        header {

            > .website-title,
            > .day-night-toggle {

                min-width: 165px;

            }

        }

    }

    footer {

        flex-direction: column;

        > * {

            line-height: 2;

        }

        @media screen and ( min-width: 720px ) {

            flex-direction: row;

            > * {

                line-height: inherit;

            }

        }

    }

    .menu {

        position: sticky; // stylelint-disable-line
        top: 8px;
        z-index: 2;
        display: flex;
        flex: 0 1 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 8px auto;
        background-color: var( --color-background, #f0f0f3 );
        transition: all var( --duration, .5s ) var( --timing, ease );

        @media screen and ( min-width: 380px ) {

            top: 16px;

        }


    }

    .social-container {

        min-width: 210px;
        font-size: 1.5rem;

        ::v-deep .svg-inline--fa {

            vertical-align: inherit;

        }

        ::v-deep > .social-title {

            font-size: .9rem;

        }

    }

}
